# Ignore inputs (requested by AOC)
input.txt

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/

# Environments
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pdm
.pdm-python
pdm.lock

# ruff
.ruff_cache

### Rust ###
target/
debug/
**/*.rs.bk
*.pdb

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
